<template>
  <div class="is-centered">
    <DragDrop :callback="updateFile"/>
  </div>
</template>

<script>
  import  {getStuff} from "../api/common_apis";
  import DragDrop from '@/components/DragDrop'
  export default {
    name: "dashboard",
    data(){
      return{
        files:[],
      }
    },
    methods:{
      async test(){
        const p = await getStuff()
        console.log(p)
      },
      updateFile(files){
        this.files = files
      }
    },
    components:{
      DragDrop,
    }
  }
</script>

<style scoped>

</style>