<template>
  <section>

    <div class="columns">
      <div class="column is-4">
      </div>
    <div class=" column is-4 ">
      <!--<b-field grouped label="Your ID" message="errorMessage" position="is-centered">-->
        <b-input placeholder="Enter code"
                 v-model="newId"
                 :disabled="idLock"
                 expanded>
        </b-input>
        <!--<p class="control">-->
        <!--<button class="button is-primary">Search</button>-->
        <!--</p>-->
      <!--</b-field>-->


    </div>
      <div class="column is-1">
        <button v-if="idLock && status==='operational'" @click="lockSwitchId" class="button is-info">Edit Id</button>
        <button v-if="!idLock && status==='operational'" @click="reConnect" class="button is-success">Confirm</button>
      </div>
      <div class="column is-1">
        <button v-if="!idLock && status==='operational'" @click="lockSwitchId" class="button is-danger">Cancel</button>
      </div>

    </div>



    <div class="columns  is-centered is-multiline">
      <div class="column  is-10">
        <article :class='"notification "+ articleStyle'>
          <p class="title is-centered">PDFs Converter</p>
          <p class="subtitle">{{textStatus}}</p>
          <b-field v-if="!disabledDropDown">
            <b-upload v-model="dropFiles"
                      type="is-dark"
                      :disable="!disabledDropDown"
                      multiple
                      drag-drop>
              <section class="section">
                <div class="content has-text-centered">
                  <i class="fas fa-upload"></i>
                  <p>Drop your files here or click to upload</p>
                </div>
              </section>
            </b-upload>
          </b-field>
          <div v-else class="columns">
            <div v-for="row in processStatus" :class="'column is-centered'">
              <div :class='" tag is-large is-centered "+ row.style'>
                <p class=" is-centered">{{row.textStatus}}</p>

              </div>
              <div>{{row.subStatus}}</div>
            </div>
          </div>
          <button v-if="status === 'completed'" class="button is-info" >
            <a v-bind:href="url + id">
              Download
            </a>
          </button>
        </article>
      </div>
    </div>

    <div v-if="!disabledDropDown" class="tags is-centered">
            <span v-for="(file, index) in dropFiles"
                  :key="index"
                  class="tag is-primary" >
                {{file.name}}
                <button v-if="status ==='ready'" class="delete is-small"
                        type="button"
                        @click="deleteDropFile(index)">
                </button>
            </span>
    </div>

    <button v-if="status==='ready'" :class='"button " + articleStyle' @click="uploadFile">Upload</button>
    <button v-if="status==='readyToConvert'" :class='"button " + "is-success"' @click="registerSocket(dropFiles[0].name)">Start Conversion Process</button>
    <!--<button class="button" @click="changeStatus('processing')">asdassd</button>-->
    <!--<button class="button" @click="sendMessage">TEST SOCKET</button>-->
    <b-field label="status Debug">
      <b-input v-model="status"></b-input>
    </b-field>
  </section>
</template>

<script>
  import io from 'socket.io-client';
  import Vue from 'vue'
import { upload, initWebApp, checkID } from '../api/common_apis';

export default {
  props: {
    callback: {
      type: Function,
      required: true,
    },
  },
  name: 'drag-drop',
  data() {
    return {
      url: "http://pdf-to-text.teamata.me:30005/",
      id: '',
      newId: '',
      targetFile: '',
      idLock: true,
      socket: null,
      dropFiles: [],
      articleStyle: 'is-primary',
      disabledDropDown: false,
      textStatus: 'Operational',
      resultObjectName: '',
      totalFiles: 0,
      processedFile: 0,
      currentStep: 0,
      processStatus: [
        {
          textStatus: 'In Queue',
          subStatus: '',
          style: 'is-light',
          //is-light is-info is-danger
        },
        {
          textStatus: 'Extracting File',
          subStatus: `Total File : xx`,
          style: 'is-light',
        },
        {
          textStatus: 'Converting PDF Files',
          subStatus: '0/xx',
          style: 'is-light',
        },
        {
          textStatus: 'All Done!',
          subStatus: '',
          style: 'is-light',
        },
      ],
      test: {
        name: 'archiver',
        status: 'success',
        bucketName: 'bName',
        objectName: 'oName',
        total: 10,
        current : 10,
      }
    };
  },
  watch: {

    resultObjectName(){
      if (this.resultObjectName !== ''){
        this.changeStatus('completed')
      }
    },
    totalFiles() {
      this.processStatus[1].subStatus = `Total File : ${this.totalFiles}`;
      this.processStatus[2].subStatus = `0 / ${this.totalFiles}`;
    },
    processedFile() {
      this.processStatus[2].subStatus = `${this.processedFile} / ${
        this.totalFiles
      }`;
    },
    dropFiles() {
      this.callback(this.dropFiles);
      const len = this.dropFiles.length
      if (len === 0){
        this.changeStatus('operational')
      }else{
        if (len > 1){
          this.dropFiles = [this.dropFiles[1]]
        }
        this.changeStatus('ready')
      }

    },
  },
  computed:{
    status(){
      const newStatus = this.$store.state.status

      if (newStatus === 'operational') {
        this.textStatus = 'Operational';
        this.articleStyle = 'is-primary';
        this.disabledDropDown = false;
      }
      if (newStatus === 'ready') {
        this.textStatus = 'Ready To Upload';
        this.articleStyle = 'is-info';
        this.disabledDropDown = false;
      }
      if (newStatus === 'readyToConvert') {
        this.textStatus = 'Ready To Convert';
        this.articleStyle = 'is-info';
        this.disabledDropDown = false;
      }
      if (newStatus === 'uploading') {
        this.textStatus = 'Uploading';
        this.articleStyle = 'is-warning';
        this.disabledDropDown = false;
      }
      if (newStatus === 'processing') {
        this.textStatus = 'File are being process';
        this.articleStyle = 'is-warning';
        this.disabledDropDown = true;
      }
      if (newStatus === 'error') {
        this.textStatus = 'Something went wrong, please try again.';
        this.articleStyle = 'is-warning';
        this.disabledDropDown = true;
      }
      if (newStatus === 'error-id') {
        this.textStatus = `This ID ('${this.newId}') does not exist.`;
        this.articleStyle = 'is-warning';
        this.disabledDropDown = true;
      }
      if (newStatus === 'completed') {
        this.textStatus =
          'All Done!! Please click the button below to download to file';
        this.articleStyle = 'is-success';
        this.disabledDropDown = true;
      }
      return newStatus
    }
  },
  methods: {
    lockSwitchId(){
      if(!this.idLock){
        this.newId = this.id
        this.changeStatus("operational")
      }
      this.idLock = !this.idLock
    },
    // verifyNewId(){
    //   this.changeStatus("error-id")
    //
    //   this.socket = io.connect('http://192.168.99.100:30005')
    //   this.socket.emit('check id',this.newId)
    //   this.socket.on('check id result', (data) => {
    //     if(data.status){
    //       this.registerSocket(data.objectName).then(()=>{
    //         this.id = this.newId
    //         this.newId = ''
    //         this.socket.emit('client ready',this.id)
    //       })
    //     }else{
    //     //  display error
    //       this.changeStatus("error")
    //       this.textStatus = "This ID did not exist!"
    //     }
    //   });
    // },
    sendMessage(e) {
      console.log("Press")

      this.socket.emit('enter room',this.id)


      this.socket.on('front receive', (data) => {
        console.log(data)
        this.processUpdate(data)
      });
    },
    changeStatus(newStatus){
      console.log("Status Change to : ", newStatus)
      this.$store.commit('changeStatus',newStatus)
    },
    processUpdate(data){
      // {
      //   "name" : "queue"|"extractor"|"parser"|"archiver"
      //   "status" : "success" | "error" | "working"
      //   "bucketName": "bucket"
      //   "objectName": "object" //"blah".tar.gz
      //   "total" : Int //total pdf files in this bucket
      //   "current" : Int //accumulated number of files that is done
      // }

      let index = 0;
      if (data.name === "extractor"){
        index = 1;
      }
      else if (data.name === "parser"){
        index = 2
      }
      else if (data.name === "archiver"){
        index = 3
      }
      else{
        //queue
        index = 0
      }


      this.totalFiles = data.total
      this.processedFile = data.current

      //Set all previous step to complete, in case of re-connect
      for (let i = 0; i < index; i++) {
        this.processStatus[i].style = 'is-success'
      }

      for (let i = index+1; i < 4; i++) {
        this.processStatus[i].style = 'is-primary'
      }

      if (data.status === 'working'){
        this.processStatus[index].style = 'is-info'
        console.log("message from web-app :", data.message)
      }

      if (data.status === 'error'){
        this.processStatus[index].style = 'is-danger'
        this.changeStatus('error')
        console.log("message from web-app :", data.message)
      }


      if (data.status === 'success'){
        this.processStatus[index].style = 'is-success'
        if (index < 3){
          this.processStatus[index+1].style = 'is-info'
        }else{
          //TODO: Generate Download link, and assign to resultObjectName
          this.resultObjectName = 'whatever'
          // this.changeStatus('completed')
        }
      }

    },
    sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  },
    // async uploadFiles() {

      // await upload(this.id, this.dropFiles[0]);

      // this.dropFiles.forEach(async it => {
      //
      //   //Take in File
      //   const a = await upload(this.id, it);
      //   await this.sleep(3000)
      //   console.log("GET Socket connection")
      //
      //   this.registerSocket(it.name)
      // });

    // },
    // async download() {
    //   await downloadApi(this.id)
    // //  Call api on this.resultObjectName
    // },
    async uploadFile() {

      this.$store.commit('changeStatus',"uploading")
      // this.uploadFiles()
      await upload(this.id, this.dropFiles[0]);

      //  Do api stuff
    },
    deleteDropFile(index) {
      this.dropFiles.splice(index, 1);
    },
    revisedRandId() {
      return Math.random().toString(36).substr(2, 60);
    },
    reConnect(){
      checkID(this.newId).then((data)=>{
        if(data.status === "error"){
          this.changeStatus("error-id")
          return
        }
        console.log("RECONNNECT DATA: ",data)
        this.changeStatus("processing")
        this.processUpdate(data.data)
        this.id = this.newId

        this.socket = io.connect('http://pdf-to-text.teamata.me:30005')

        console.log("Socket :  ",this.socket)
        console.log("room id : ",this.id)

        this.socket.emit('join',this.id)

        this.socket.on('json', (data) => {
          console.log(data)
          this.processUpdate(data)
        });

      })

    },
    registerClient(bucketName,objectName){
      const data = {
        bucketName: bucketName,
        objectName: objectName,
      }
      console.log("TRY TO INIT webapp")
      initWebApp(data)
        .then((result) => {
          console.log("initResult : ",result)
        })
        .catch((e) => {
          this.$store.commit('changeStatus','error')
          console.log(e)
        })
    },
    registerSocket(fileName){

      this.$store.commit('changeStatus','processing')

      // this.socket = io.connect('localhost:5000')

      // console.log("Socket :  ",this.socket)
      // console.log("room id : ",this.id)

      // this.socket.emit('enter room',this.id)
      //
      // console.log("Room entered")

      // this.registerClient(this.id,fileName)
        const data = {
            "bucketName": this.id,
            "objectName": fileName,
        }
        this.socket.emit('init', data)
      // this.processUpdate(resp);


      console.log("Start process")

      // this.socket.on('front receive', (data) => {
      //   console.log(data)
      //   this.processUpdate(data)
      // });
    }

  },
  mounted(){

    //Generate Id

    this.id = this.revisedRandId();
    this.newId = this.id

    this.socket = io.connect('http://pdf-to-text.teamata.me:30005')

    console.log("Socket :  ",this.socket)
    console.log("room id : ",this.id)

    this.socket.emit('join',this.id)

    // console.log("Room entered")
    //
    // // this.registerClient(this.id,fileName)
    // const data = {
    //   "bucketName": this.id,
    //   "objectName": fileName,
    // }
    // this.socket.emit('init', data)
    // // this.processUpdate(resp);
    //
    //
    // console.log("Start process")

    this.socket.on('json', (data) => {
      console.log(data)
      this.processUpdate(data)
    });


  }
};
</script>

<style scoped>
</style>
